*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #000;
  line-height: 3;
}

#root {
  width: 100%;
}


@media (min-width: 768px) {
  #root {
    max-width: 768px; 
  }
}

@media (min-width: 1024px) {
  #root {
    max-width: 1024px; 
  }
}
