.menu-horizontal {
  height: 10rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 10px;
  gap: 1rem;
  cursor: grab;
  transition: all 0.3s ease-in-out;
  position: sticky;
  top: 0;
  z-index: 10;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.menu-horizontal.sticky {
  background-color: #fff;
  margin-top: 0;
  height: 8vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  overflow-x: auto; 
}

.menu-horizontal.sticky .menu-item {
  background-color: #500B0B;
  width: 100px;
  border-radius: 8px;
  height: 40px;
}

.menu-horizontal.sticky .menu-item:hover {
  background-color: #8f1b1b;
}

.menu-horizontal.sticky .menu-item:active {
  background-color: #8f1b1b;
}

.menu-horizontal.sticky .menu-item img {
  width: 60%;
  display: none;
}

.menu-horizontal.sticky .menu-item .title-overlay {
  color: #fff;
  font-size: 0.8rem;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-item .title-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  font-weight: bold;
  z-index: 2;
}

.menu-item {
  user-select: none;
  text-decoration: none;
  display: inline-block;
  flex-shrink: 0;
  width: 120px;
  height: 80px;
  text-align: center;
  position: relative;
  cursor: grab;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border: 1px solid transparent;
}

.menu-item img {
  border-radius: 6px;
  user-select: none;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  filter: brightness(40%);
}

.menu-item .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  transition: opacity 0.3s ease-in-out;
}

.menu-item img:hover {
  user-select: none;
}

.menu-item:hover .image-overlay {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .menu-horizontal {
    overflow-x: auto;
  }


  .menu-item {
    width: 200px;
    height: 100px;
  }

  .menu-item .title-overlay {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menu-horizontal.sticky {
    height: 12vh;
 
  }
 
  .menu-horizontal {
    overflow-x: auto; 
  }
  
  .menu-item {
    width: 200px;
    height: 100px;
  }
  
  .menu-item .title-overlay {
    font-size: 1.5rem;
  }
  .menu-horizontal.sticky .menu-item {
    border-radius: 8px;
    width: 15vw;
    height: 50px;
  }
  .menu-horizontal.sticky .menu-item .title-overlay {
    color: #fff;
    font-size: 1rem;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .menu-horizontal {
    overflow-x: auto;
  }
  .menu-horizontal.sticky {
    height: 12vh;
 
  }
  .menu-horizontal.sticky {
    justify-content: center; 
  }
  .menu-item {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  .menu-item .title-overlay {
    font-size: 1.3rem;
  }
}

@media (min-width: 1440px) {
  .menu-horizontal.sticky {
    justify-content: center; 
  }
  .menu-horizontal {
    justify-content: center; 
  }
  .menu-item {
    width: 100%;
    max-width: 250px;
    height: auto;
  }
  .menu-item .title-overlay {
    font-size: 1.3rem;
  }
  .menu-horizontal.sticky .menu-item {
    background-color: #500B0B;
    width: 200px;
    height: 50px;
  }
  .menu-horizontal.sticky .menu-item .title-overlay {
    
    font-size: 1.3rem;
  }
}

.menu-horizontal::-webkit-scrollbar {
  height: 8px;
}

.menu-horizontal::-webkit-scrollbar-track {
  background-color: #fff;
}

.menu-horizontal::-webkit-scrollbar-thumb {
  background-color: #500B0B;
  border-radius: 4px;
}

.menu-horizontal::-webkit-scrollbar-thumb:hover {
  background-color: #500B0B;
}
